.sponsors {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0% 25%;
  margin-top: 35px;
}
.sponsors-logos {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
