.testimonials {
  text-align: center;
}
.testimonials > p {
  margin: 20px 30%;
}
.testimonial-container {
  text-align: left;
  display: grid;
  margin: 15px 10%;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 50px;
}
.testimonial-item {
  background-color: #1e1e3c;
  color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.testimonial-item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 20px;
  object-fit: cover;
}

.testimonial-quote {
  font-style: italic;
  margin-top: 10px;
  font-size: 1rem;
  color: #e0e0e0;
}
.jason {
  grid-area: 1/1/2/2;
}
.abdelkader {
  grid-area: 1/2/2/3;
}
.elizabeth {
  grid-area: 2/1/3/3;
}
